* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.close {
  display: flex;
  justify-content: flex-end;
}
.user-menu {
  display: flex;
  justify-content: space-around;
}
#student:hover,
#Employee:hover {
  border-bottom: 2px solid blue;
  padding-top: -0.5rem;
}
.u-line {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}
.container a {
  text-decoration: none;
}
#g-login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#g-login {
  background: #fff;
  border-radius: 3px;
  border: 3px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 10px;
  margin: 24px 0 16px;
}
#g-login:hover {
  border-color: lightblue;
}
.g-content {
  font-size: 1.3rem;
  font-weight: 400;
  color: blue;
}
.g-img {
  padding-top: 5px;
  padding-right: 3px;
}
.seprate {
  text-align: center;
}
.text {
  color: #484848;
  padding: 0 0 3px 0;
  background: #fff;
  font-family: Inter, sans-serif;
  font-weight: 500;
}
.text p {
  width: 40px;
  margin: 0 auto !important;
  position: relative;
  z-index: 10;
  background: #fff;
  color: #8a8a8a;
  font-size: 12px;
}
.border {
  position: relative;
  margin-top: -13px;
  margin-bottom: 20px;
  border: none !important;
  border-top: 1px solid #ddd !important;
}
@media screen and (min-width: 480px) {
  .paper {
    padding: 20px;
    height: 109vh;
    /* width: 450px; */
    margin: 20px auto;
  }
}

/* ............................................ */

.login-canvas {
  width: 100vw;
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-paper {
  width: 100vw;
  justify-content: left;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.login-form-container {
  width: auto;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: "center";
  align-items: "center";
  margin: 0px auto;
}
.login-wel-sec {
  background-clip: text;
  font-size: 3rem;
  color: transparent;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 60px;
  background-image: linear-gradient(30deg, red, blue);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 20px 0px;
}
.field-icon {
  font-size: 1.5rem;
}
.login-btn {
  color: blueviolet;
  font-weight: 500;
  background-color: aliceblue;
  padding: 10px 30px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 8px;
  font-size: larger;
}
.login-form-others {
  margin-top: 50px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e3dfdf;
  border-radius: 22px;
}
.login-form-new-account {
  background-color: orange;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding: 10px 30px;
  width: fit-content;
  border-radius: 22px;
}
.login-form-join {
  padding: 10px 30px;
  font-weight: bolder;
  font-size: 1.2rem;
  color: #4000ff;
}
.login-canvas-image {
  width: auto;
  height: 80vh;
  max-height: 86vh;
}
.login-img-size {
  width: auto;
  height: fit-content;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 1090px) {
  .login-canvas-image {
    width: 54%;
  }
  .login-form-container {
    padding: 30px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 870px) {
  .login-canvas {
    height: auto;
    padding: 15px 0px;
  }
  .login-paper {
    flex-direction: column;
    width: 100%;
  }
  .login-form-container {
    width: fit-content;
  }
  .form {
    gap: 7px;
  }
  .login-canvas-image {
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .login-form-container {
    width: fit-content;
  }
}

@media only screen and (max-width: 510px) {
  .login-paper {
    width: 100%;
  }
  .login-wel-sec {
    margin-bottom: 30px;
    font-size: 2.5rem;
  }
  .login-form-container {
    padding: 20px;
    padding-left: 20px;
  }
  .btn {
    margin-top: 25px;
  }
  .login-form-new-account {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
  .login-form-join {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
}
